{% extends 'bases/base_public.html.twig' %}
{% block body %}
    {% block content %}
        <div style="margin-right: auto; margin-left: auto; padding: 3%;">
            <div class="ui-corner-all" style=" margin-right: auto; margin-left: auto; width: 50%; padding: 2%; text-align: left; background: rgba(0,0,0,0.2);  border: solid 10px grey; ">
                <h3 class="text-navy">
                    <b>One Time Link Expired</b>
                </h3>
                <h4 class="text-danger">The One Time Link, Emailed to you has been expired. One Time Links are active only for 24 hours.
                </h4>
            </div>
        </div>
    {% endblock %}
{% endblock %}
