// setting the value of this variable to an empty data URL is the only working solution
// to load the Bootswatch web fonts locally and avoid loading them from Google servers
// see https://github.com/thomaspark/bootswatch/issues/55#issuecomment-298093182
$web-font-path: 'data:text/css;base64,';

@import "~bootswatch/dist/lumen/variables";
@import "~bootstrap/scss/bootstrap.scss";
@import "~bootswatch/dist/lumen/bootswatch";
@import "~font-awesome/scss/font-awesome.scss";
@import "~jgrowl/jquery.jgrowl.css";
@import "~sweetalert2/dist/sweetalert2.min.css";
@import "~bootstrap4c-chosen/dist/css/component-chosen.min.css";
@import "./popper.scss";
@import "./dygraph.scss";
@import "./pivot.scss";
@import "./daterangepicker.scss";
@import "~eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker";
@import "./nprogress.scss";
@import "~tiny-slider/dist/tiny-slider.css";

@font-face {
    font-family: "ubuntu";
    src: url("/resources/fonts/ubuntu/ubuntu-v14-latin-regular.woff2") format("woff2"),
        url("/resources/fonts/ubuntu/ubuntu-v14-latin-regular.woff") format("woff");
}

@font-face {
    font-family: "ubuntu500";
    src: url("/resources/fonts/ubuntu/ubuntu-v14-latin-500.woff2") format("woff2"),
        url("/resources/fonts/ubuntu/ubuntu-v14-latin-500.woff") format("woff");
}


@font-face {
    font-family: "Metropolis";
    src: url("/resources/fonts/metropolis/WOFF2/Metropolis-Regular.woff2") format("woff2"),
        url("/resources/fonts/metropolis/WOFF/Metropolis-Regular.woff") format("woff");
}

@font-face {
    font-family: "MetropolisB";
    src: url("/resources/fonts/metropolis/WOFF2/Metropolis-Black.woff2") format("woff2"),
        url("/resources/fonts/metropolis/WOFF/Metropolis-Black.woff") format("woff");
}

@font-face {
    font-family: "Fredoka";
    src: url("/resources/fonts/Fredoka/fredoka-one.woff") format("woff");
}

/*@import "~eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker";*/
/*@import "~eonasdan-bootstrap-datetimepicker/src/sass/bootstrap-datetimepicker-build.scss";*/


/* Basic styles
   ------------------------------------------------------------------------- */
// p, ul, ol {
//     font-size: 19px;
//     margin-bottom: 1.5em
// }


li {
    margin-bottom: 0.5em
}

code {
    background: #ecf0f1;
    color: #2c3e50
}

.text-danger,
.text-danger:hover {
    color: #e74c3c
}

i {
    margin-right: 0.25em
}

.table.table-middle-aligned th,
.table.table-middle-aligned td {
    vertical-align: middle;
}

.doclink {
    color: inherit
}

/* Utilities
   ------------------------------------------------------------------------- */
.m-b-0 {
    margin-bottom: 0
}

/* Page elements
   ------------------------------------------------------------------------- */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    // font-size: 13 !important;
    background-color: #1d3a5a;
    background-image: linear-gradient(322deg, rgba(248, 248, 248, 0.05) 0%, rgba(248, 248, 248, 0.05) 72%,rgba(90, 90, 90, 0.05) 72%, rgba(90, 90, 90, 0.05) 100%),linear-gradient(187deg, rgba(42, 42, 42, 0.05) 0%, rgba(42, 42, 42, 0.05) 77%,rgba(128, 128, 128, 0.05) 77%, rgba(128, 128, 128, 0.05) 100%),linear-gradient(240deg, rgba(211, 211, 211, 0.05) 0%, rgba(211, 211, 211, 0.05) 80%,rgba(150, 150, 150, 0.05) 80%, rgba(150, 150, 150, 0.05) 100%),linear-gradient(90deg, rgb(1, 75, 149),rgb(3,62,74)) !important;

    background-size:     cover;    
    background-repeat:   no-repeat;    
    background-position: center center;
    font-family: 'Ubuntu', Trebuchet MS, sans-serif, sans-serif !important;
    font-size: 0.75em !important;
}

header {
    margin-bottom: .5em
}

header ul.nav li {
    margin-bottom: 0
}

header .locales a {
    padding-right: 10px
}

.report-menu>li>a {
    padding-bottom: 2px;
    padding-top: 2px;
    font-size: 12px;
}

.body-container {
    flex: 1;
    /* needed to prevent pages with a very small height and browsers not supporting flex */
    //   min-height: 600px
}

.btn-group-xs>.btn,
.btn-xs {
    // padding  : .25rem .4rem;
    // font-size  : .875rem;
    line-height: .5;
    border-radius: .2rem;
}

.body-container #main h1,
.body-container #main h2 {
    margin-top: 0
}

#sidebar .section {
    margin-bottom: 2em
}

#sidebar p {
    font-size: 15px
}

#sidebar p+p {
    margin: 1.5em 0 0
}

footer {
    // background: #14263c;
    // margin-top: 2em;
    padding-top: 2em;
    padding-bottom: 2em
}

footer p {
    color: #7b8a8b;
    font-size: 13px;
    margin-bottom: 0.25em
}

footer #footer-resources {
    text-align: right
}

footer #footer-resources i {
    color: #7b8a8b;
    font-size: 28.5px;
    margin-left: 0.5em
}

#sourceCodeModal h3 {
    font-size: 19px;
    margin-top: 0
}

#sourceCodeModal h3 small {
    color: #7b8a8b;
    font-size: 80%
}

#sourceCodeModal pre {
    margin-bottom: 2em;
    padding: 0
}

#confirmationModal .modal-dialog {
    width: 500px
}

#confirmationModal .modal-footer button {
    min-width: 75px
}

/* Misc. elements
   ------------------------------------------------------------------------- */
.section.rss a {
    color: #f39c12;
    font-size: 21px;
}

/* Forms
   ------------------------------------------------------------------------- */
.form-group.has-error .form-control {
    border-color: #e74c3c
}

.form-group.has-error .control-label {
    color: #e74c3c
}

.form-group.has-error .help-block {
    background-color: #e74c3c;
    /*color: #fff;*/
    /*padding: 1em;*/
    color: #e74c3c;
    font-size: 15px;
}

.form-group.has-error .help-block ul,
.form-group.has-error .help-block li {
    margin-bottom: 0
}

.form-group.has-error .help-block li+li {
    margin-top: 0.5em;
}

textarea {
    max-width: 100%
}

/* Page: 'Technical Requirements Checker'
   ------------------------------------------------------------------------- */
body#requirements_checker header h1 {
    margin-bottom: 0;
    margin-top: 0
}

body#requirements_checker header h1 span {
    font-size: 120%;
    opacity: 0.7;
    padding: 0 5px
}

body#requirements_checker .panel li {
    margin-bottom: 1em
}

.bg1 h1 {
    color: #fff;
    font-size: 30px;
    font-weight: normal;
    padding: 0px;
    /*    {#                    margin: 0px;#}*/
    /*margin-top:150px;*/
    margin-top: 50px;
}

.bg1 h2 {
    color: #E8E8E8;
    font-size: 20px;
    font-weight: normal;
    padding: 10px 0 0 0;
    margin: 0px;
}

.bg1 h3 {
    color: #fff;
    font-size: 16px;
    font-weight: normal;
    padding: 0px;
    margin-top: 10px;
}

p {
    font-size: 16px !important;
}

label.required::before {
    content: "* ";
    color: red;
}

.form-signin {

    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;

}

.table-hover tbody tr:hover td,
.table-hover tbody tr:hover th {
    background-color: #d0eaf6;
}

.carousel-item img {
    max-height: 100vh;
    object-fit: cover;
}

.blink_text {
    animation: 3s blinker ease infinite;
    -webkit-animation: 3s blinker ease infinite;
    -moz-animation: 3s blinker ease infinite;
    color: red;
}

@-moz-keyframes blinker {
    0% {
        opacity: 1.0;
    }

    50% {
        opacity: 0.0;
    }

    100% {
        opacity: 1.0;
    }
}

@-webkit-keyframes blinker {
    0% {
        opacity: 1.0;
    }

    50% {
        opacity: 0.0;
    }

    100% {
        opacity: 1.0;
    }
}

@keyframes blinker {
    0% {
        opacity: 1.0;
    }

    50% {
        opacity: 0.0;
    }

    100% {
        opacity: 1.0;
    }
}

.text-shadow-black {
    text-shadow: 0 0 2px black;
}

@media (min-width: 576px) {
    .modal-dialog {
        max-width: none;
    }
}

.modal-dialog {
    width: 90%;
    // height: 92%;
    padding: 0;
}

.modal-content {
    height: 99%;
}

.badge-medium {
    font-size: 16px;
}

select:invalid {
    height: 0px !important;
    opacity: 0 !important;
    position: absolute !important;
    display: flex !important;
}

select:invalid[multiple] {
    margin-top: 15px !important;
}

.error_box {
    background-clip: padding-box;
    border: 1px solid #e74c3c;
    /*border-color: #e74c3c;*/
    -webkit-box-shadow: inset 0 0px 1px #e74c3c, 0 0 1px #e74c3c;
    /*-webkit-box-shadow: inset 0 3px 6px #e74c3c, 0 0 3px #e74c3c;*/
    box-shadow: inset 0 0px 1px #e74c3c, 0 0 1px #e74c3c;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.progress-bar-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    background-color: #158CBA;
    transition: width 0.6s ease;
}

.progress-2 {
    display: flex;
    height: 1rem;
    overflow: hidden;
    font-size: 0.65625rem;
    background-color: #f0f0f0;
    border-radius: 0.25rem;
}

.cropit-preview-image-container {
    border-radius: 50% !important;
}

.cropit-preview,
.cropit-image-loaded {
    border-radius: 50% !important;
}

.cropit-preview {
    height: 175px !important;
    border: none !important;
}

.graph-block-container {
    display: inline-block;
    width: 100%;
}

.graph-container-with-legend {
    display: inline-block;
    overflow: hidden;
    min-height: 200px;
    position: relative;
}

.graph-with-legend-right {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    overflow: hidden;
    margin-right: 200px;
    width: calc(100% - 200px);
    height: 100%;
    z-index: 5;
    flex-grow: 1;
}

.graph-legend {
    position: absolute;
    top: 0;
    right: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 14px;
    display: block;
    width: 200px;
    height: calc(100% - 15px);
    font-size: 10px;
    margin-top: 5px;
    text-align: left;
}

.btn-action-trmenu {
    cursor: pointer;
}
.dropdown-item {
    cursor: pointer;
}

.pace {
    -webkit-pointer-events: none;
    pointer-events: none;
  
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  
    -webkit-transform: translate3d(0, -50px, 0);
    -ms-transform: translate3d(0, -50px, 0);
    transform: translate3d(0, -50px, 0);
  
    -webkit-transition: -webkit-transform .5s ease-out;
    -ms-transition: -webkit-transform .5s ease-out;
    transition: transform .5s ease-out;
  }
  
  .pace.pace-active {
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  
  .pace .pace-progress {
    display: block;
    position: fixed;
    z-index: 2000;
    top: 0;
    right: 100%;
    width: 100%;
    height: 10px;
    background: #29d;
  
    pointer-events: none;
  }
  
.timer {
    background-color: #002b36b3;
    color: #ffde95;
    padding: 5px 5px 5px 5px;
    // position: fixed;
    // display: block;
    /*visibility: hidden;*/
    // right: 0;
    font-size: 12px;
    // bottom: 4em;
    margin-right: 50px;
    margin-bottom: 5px;
    z-index: 500;
    // opacity:70%;
}

.blink_text_timer {
    animation: 1s blinker ease infinite;
    -webkit-animation: 1s blinker ease infinite;
    -moz-animation: 1s blinker ease infinite;
    color: red;
}
.blink-text-3s {
    animation: 3s blinker ease infinite;
    -webkit-animation: 3s blinker ease infinite;
    -moz-animation: 3s blinker ease infinite;
}
.number-circle {
    width: 38px !important;
    height: 38px !important;
    border: 3px solid;
}
.fs-20e {
    font-size: 2em;
}
.fs-16e {
    font-size: 1.6em;
}

.table-sm th, .table-sm td {
    padding: 0.15rem !important;
}

.dashboard-value{
    font-family: 'Metropolis';
    font-weight: bolder;
    font-size: 2rem;
}
.dashboard-label{
    font-family: 'Metropolis';
    font-size: 14px;
}

.profile-photo{
    display: inline-block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}


  .jumbotron {
      padding: .5rem .5rem !important;
      min-height: 55vh;
  }

  .pace {
    -webkit-pointer-events: none;
    pointer-events: none;
  
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  
    -webkit-transform: translate3d(0, -50px, 0);
    -ms-transform: translate3d(0, -50px, 0);
    transform: translate3d(0, -50px, 0);
  
    -webkit-transition: -webkit-transform .5s ease-out;
    -ms-transition: -webkit-transform .5s ease-out;
    transition: transform .5s ease-out;
  }
  
  .pace.pace-active {
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  
  .pace .pace-progress {
    display: block;
    position: fixed;
    z-index: 2000;
    top: 0;
    right: 100%;
    width: 100%;
    height: 5px;
    background: #29d;
  
    pointer-events: none;
  }
  
  .text-dark {
    color: gray;
  }

  .__dvGIMS {
    background-color: #ffff;
    color: rgb(0, 0, 0);
    padding: 5px 5px 5px 5px;
    position: fixed;
    display: block;
    right: 0;
    font-size: 12px;
    bottom: 6em;
    margin-right: 30px;
    margin-bottom: 5px;
    z-index: 500;
    width: 300px;
}

#popIcon_id{
    padding: 5px 5px 5px 5px;
    position: fixed;
    display: block;
    right: 0;
    font-size: 12px;
    bottom: 1em;
    margin-right: 10px;
    margin-bottom: 5px;
    z-index: 500;
}
@media print {
    @page { margin: 0; }
    body { margin: 0; }
}
 