<style>
body {
	font: 36px Ubuntu, Trebuchet MS;
	background: #38777e;
	text-align: center;
	color: white;
	font-weight: bolder;
	padding-top: 30vh;
}
</style>
<link rel="icon" type="image/x-icon" href="{{ asset('img/logo_app.png') }}"/>
<h5 style="color: white">This is staging area for Sandes Portal. <br/> The original site is available at <a href="https://www.sandes.gov.in">https://www.sandes.gov.in</a></h5>
<br />
<br />
<br />
<h5 style="color: white">Staging users <a href="/usr/nlogin">Login</a></h5>
