{% extends 'bases/base_masters.html.twig' %}
{% block content %}
	<div class="row">
		<div class="col-8">
			<h5>
				Manage Default Value
			</h5>
		</div>
		<div class="col-4 text-right">
			<button class="btn btn-xs btn-primary" data-toggle="collapse" data-target="#__filterContainer" aria-expanded="false" aria-controls="__filterContainer">
				<span class="d-none d-md-block">Filter</span>
				<i class="d-sm-block d-md-none d-lg-none fa fa-search"></i>
			</button>
			<button class="btn btn-xs btn-success btn-action-new text-white" data-list-path="{{ path('masters_default_value_list' )}}" data-new-path="{{ path('masters_default_value_new' )}}">
				<span class="d-none d-md-block">
					+ New
				</span>
				<i class="d-sm-block d-md-none d-lg-none fa fa-plus"></i>
			</button>
		</div>
	</div>
	{% include '/portal/generic/_dynamic_filter.html.twig' with {'listpath':path('masters_default_value_list')} %}
	<div id="__listContainer">
		{{ render(controller('App\\Controller\\Masters\\DefaultValueController::list')) }}
	</div>
{% endblock %}
{% block js %}
	<script src="{{ asset('build/js/generic.js') }}"></script>
{% endblock %}
