{% extends 'bases/base_masters.html.twig' %}
{% block content %}
    <div class="pt-3 m-0">
        <div class="row">
            <div class="col-6">
                
            </div>
            <div class="col-6">
                {% include 'masters/organization_type/_list.html.twig' %}
            </div>
        </div>
    </div>
{% endblock %}