{% extends 'bases/base_public.html.twig' %}
{% form_theme form '/bases/captcha_horizontal.html.twig' %}
{% block content %}
	<div class="row">
		<div class="card m-auto col-10 col-sm-8 col-md-6 col-lg-4 col-xl-4 p-0" style="border: none;">
			<div class="card-header bg-primary">
				<span class="h3 font-weight-normal text-white">Sandes Authentication
				</span>
			</div>
			<div class="card-body">
				<form class="bg-white" action="{{ path('app_login_gimsotp_check') }}" method="post" autocomplete="off">
					{% if error %}
						<div class="alert alert-danger">
							<button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>
							<b>Alert!</b>
							{{ error|trans}}
						</div>
					{% endif %}
					<div class="alert alert-secondary">
						<h5 class="m-0" style="color: navy;">
							<strong>You will receive OTP in SANDES app.</strong>
						</h5>
					</div>
					<div class="form-group">
						<label for="_thakol">SANDES OTP</label>
						<input class="form-control form-control-sm " autocomplete="off" type="password" id="_thakol" placeholder="SANDES OTP" name="_thakol" required="required">
					</div>
					<strong class="text-danger">Cookies must be enabled for successful login and captcha display</strong>
					{# <div class="form-group">
						<small>Please fill the text field as shown in the image</small>
						{{ form_widget(form.captcha)}}
					</div> #}
					<hr class="my-4"/>
					<button class="btn btn-sm btn-success ml-3" type="submit">
						Sign in
					</button>
					<a href="{{ path('app_home') }}" class="btn btn-sm btn-primary ml-3">
						Cancel
					</a>

				</form>
			</div>
		</div>
	</div>
{% endblock %}
